{{ if eq .chezmoi.os "darwin" }}
function rm --wraps trash --description trash
    # These arguments aren't recognized by trash, so we swallow them
    argparse r/recursive f/force -- $argv; or return
    trash $argv
end
{{ else }}
function rm --wraps trash-put --description trash-put
    trash-put $argv
end
{{ end }}
